<link rel="stylesheet" type="text/css" href="/css/header.css">

<header class="page-footer">
    <ul class="horizontal-list">
        <li> Help </li>
        <li> 7073803693 </li>
        <li> jain.akshat120@gmail.com </li>
    </ul>
</header>