        <link rel="stylesheet" href="/css/user_profile.css" type="text/css">
        <h1>
            <%=title%> / Social
        </h1>
        <p>
            Email: <%= user.email %>
        </p>
        <p>
            Name: <%= user.name %>
        </p>
        <p>
        <a href="/users/delete-session/">Sign Out</a></p>