        <link rel="stylesheet" href="/css/user_profile.css" type="text/css">
        <h1>
            <%=title%> / Social
        </h1>

        <p>NAME: <%= user.name %></p>
        <p>EMAIL: <%= user.email %></p>