<link rel="stylesheet" type="text/css" href="/css/user_sign_in.css">

<h1 class="heading-sign-in"> Sign Up </h1>

<form action="/users/create" method="POST" class="sign-in-form">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <button class="sign-in-button" type="submit"> Sign Up </button>
</form>