.heading-sign-in{
    color: rgb(236, 228, 228);
    margin-left: 10px;
    font-size: 3rem;
    font-weight: 900;
    font-family: sans-serif;
}

.sign-in-form{
    margin-left: 10px;
}

.sign-in-form input{
    display: block;
    margin-bottom: 3px;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 10px;
    width: 30%;
    height: 50px;
}

.sign-in-button{
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    margin-left: 5px;
    margin-top: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(41, 18, 36, 0.651);
    color: rgb(211, 199, 199);
}