body{
    background-color: brown;
}

.profile-heading{
    color: rgb(194, 180, 180);
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.profile-update-form{
    margin-left: 20px;
}

.profile-update-form input{
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 30px;
    font-size: medium;
}

.submit-btn{
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 2px;
    width: 7rem;
    height: 2rem;
    text-transform: uppercase;
}

.user-details{
    font-size: large;
    color:rgb(233, 221, 221);
    margin-left: 40px;
}

.user-details p{
    font-family: sans-serif;
    font-weight: bold;
}

#home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#user-friends{
    margin-right: 7rem;
    border-left: 1px solid black;
    padding-left: 10px;
    height: 70vh;
}

#friends-title{
    background-color: rgba(34, 22, 22, 0.658);
    color: rgb(224, 211, 211);
    /* width: 100%; */
    border-radius: 5px;
    padding: 10px ;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

#friends-list{
    list-style: disc;
}

#friends-list li a{
    text-decoration: none;
    color:rgb(194, 180, 180);
    font-family: sans-serif;
    line-height: 1rem;
}

#feed-posts{
    margin-left: 3rem;
}

#posts-heading{
    background-color: rgba(34, 22, 22, 0.658);
    color: rgb(224, 211, 211);
    /* width: 100%; */
    border-radius: 5px;
    padding: 10px ;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    width: 70%;
}

#new-post-form textarea{
    background-color: aliceblue;
    border-radius: 5px;
    display: block;
}

#new-post-form input{
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 7px;
    background-color: rgb(78, 78, 90);
    color:rgb(233, 221, 221);
}

#posts-list-container ul li a{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 2px;
    font-size: 1rem;
    width: 13px;
    display: block;
}

#posts-list-container ul li p{
    color: rgb(247, 244, 244);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1rem;
}

.post-comments input{
    padding: 5px;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
}

#comment-submit-btn{
    background-color: rgb(78, 78, 90);
    color:rgb(233, 221, 221);
}